In [1]:
import pandas as pd
from transformers import AutoTokenizer, AutoModelForTokenClassification

In [2]:
tokenizer = AutoTokenizer.from_pretrained("cahya/bert-base-indonesian-NER")
model = AutoModelForTokenClassification.from_pretrained("cahya/bert-base-indonesian-NER")

In [23]:
from transformers import TokenClassificationPipeline
tokenclassifier = TokenClassificationPipeline(model=model,tokenizer=tokenizer,aggregation_strategy="simple")
print("done")

done

In [27]:
from transformers import pipeline
classifier = pipeline("ner",model=model,tokenizer=tokenizer)

In [28]:
import pandas as pd
predic = classifier("aji sedang makan ketoprak di jakarta")
dfa = pd.DataFrame(predic)

In [29]:
test2 = tokenclassifier("aji sedang makan ketoprak di jakarta")

In [30]:
print(predic)
print(test2)

[{'entity': 'B-PER', 'score': 0.9735748, 'index': 1, 'word': 'aji', 'start': 0, 'end': 3}, {'entity': 'I-EVT', 'score': 0.44471964, 'index': 4, 'word': 'ket', 'start': 17, 'end': 20}, {'entity': 'I-EVT', 'score': 0.5156463, 'index': 5, 'word': '##opr', 'start': 20, 'end': 23}, {'entity': 'B-GPE', 'score': 0.9946912, 'index': 8, 'word': 'jakarta', 'start': 29, 'end': 36}]
[{'entity_group': 'PER', 'score': 0.9735748, 'word': 'aji', 'start': 0, 'end': 3}, {'entity_group': 'EVT', 'score': 0.48018295, 'word': 'ketopr', 'start': 17, 'end': 23}, {'entity_group': 'GPE', 'score': 0.9946912, 'word': 'jakarta', 'start': 29, 'end': 36}]

In [31]:
testing = tokenclassifier(["aji sedang makan ketoprak di jakarta",
                "anies surabaya pecel lele"])
print(testing)

[[{'entity_group': 'PER', 'score': 0.9735748, 'word': 'aji', 'start': 0, 'end': 3}, {'entity_group': 'EVT', 'score': 0.48018295, 'word': 'ketopr', 'start': 17, 'end': 23}, {'entity_group': 'GPE', 'score': 0.9946912, 'word': 'jakarta', 'start': 29, 'end': 36}], [{'entity_group': 'PER', 'score': 0.9801395, 'word': 'anies', 'start': 0, 'end': 5}, {'entity_group': 'ORG', 'score': 0.37239525, 'word': 'surabaya', 'start': 6, 'end': 14}, {'entity_group': 'PRD', 'score': 0.8045075, 'word': 'pecel lele', 'start': 15, 'end': 25}]]

In [32]:
df = pd.read_excel("../Dataset/Book1.xlsx")

In [33]:
new_df = df.drop_duplicates()

In [34]:
new_df

                                                   tweet
0      HOLYWINGS, kan mayoritas karyawannya Muslim? y...
2      Hanya satu kata: Alhamdulillah.\n\nhttps://t.c...
3      Holywings Tutup 36 Outlet Seluruh Indonesia, T...
11     Pihak berkuasa Indonesia menutup operasi bar d...
13     Kasus seperti iklan Holywings mestinya adalah ...
...                                                  ...
20296  Itulah bunda.. memberi nama anak jangan asal-a...
20303  Di Indonesia soalnya sdh bnyk sesuatu atau org...
20304  Selamat PSM! \nEWAKO!\n\n- METEORBET88 -\n- ht...
20317  Pagi2 nntn berita. Isinya penusukan, ricuh di ...
20321  @manusialogis @yogaanggis @DR_online_shop8 @To...

[3154 rows x 1 columns]

In [42]:
raw_input = new_df['tweet'].values.tolist()
raw_input[:3]

['HOLYWINGS, kan mayoritas karyawannya Muslim? yaiyalah. Kan ini negeri mayoritas Muslim. Di balik jeruji penjara seluruh Indonesia pun, mayoritas isinya juga Muslim. Suka pada mendadak shaleh sih. Penjahat yang nggak Muslim, biasanya kabur ke Singapura atau China.  tks.',
 'Hanya satu kata: Alhamdulillah.\n\nhttps://t.co/cdhxC1Pxdg',
 'Holywings Tutup 36 Outlet Seluruh Indonesia, Tersisa Outlet di Batam dan Manado\nhttps://t.co/O3RGzwWbpi']

In [43]:
data_ner = tokenclassifier(raw_input)
print("done")

done

In [45]:
data_final_ner = pd.DataFrame(data_ner)

In [47]:
data_final_ner.to_excel("../Dataset/NERDATA.xlsx")

In [48]:
from evalu