In [2]:
from Unsupervised.funcm import functions

fc = functions()

In [3]:
df = fc.load_data("../Dataset/Book1.xlsx")
df_drop = df.drop_duplicates()

In [4]:
df_user = fc.remove_username(df_drop,"tweet")
df_cleaning = fc.cleaning_data(df_user,"tweet",True)
df_clean = fc.remove_stopwords(df_cleaning,"tweet","indonesian")

In [6]:
df_clean.to_excel("../Dataset/data_tweet.xlsx")

In [28]:
"""
df = load_data("Voxpopdata.xlsx")
remove_user = remove_username(df,"text")
clean_data = cleaning_data(remove_user,"text",False)
remove_stop = remove_stopwords(clean_data,"text","indonesian")
toenize = generate_word(clean_data,"text")
id2word = id_to_word(toenize)
corpus = create_corpus(remove_stop,"text")
vish = visualize(lda,corpus,id2word,"mmds",10,"normal")

ldah = lda_model(corpus,id2word,25 )
hastag = get_hastag(df,"text")
wordcloud_maker(hastag,"Set2")"""

,tweet,hastag
0,holywings kan mayoritas karyawannya muslim yai...,[]
1,hanya satu kata alhamdulillah,[]
2,holywings tutup outlet seluruh indonesia tersi...,[]
3,pihak berkuasa indonesia menutup operasi bar d...,[]
4,kasus seperti iklan holywings mestinya adalah ...,[]
...,...,...
3149,itulah bunda memberi nama anak jangan asal-asa...,[]
3150,di indonesia soalnya sdh bnyk sesuatu atau org...,[]
3151,selamat psm ewako - meteorbet - - -,"[#meteorbet88, #meteorbet88gilabola, #PSM, #PS..."
3152,pagi nntn berita isinya penusukan ricuh di tan...,[]
3153,mana bro yg bilang holywings boleh buka sejauh...,[]

In [31]:
from lda_model import Lda

tokenize = Lda.generate_word(df_clean,"tweet")
id2word = Lda.id_to_word(tokenize)
corpus = Lda.create_corpus(df_clean,"tweet")
lda_model = Lda.lda_model(corpus,id2word,15)
visualise = Lda.visualize(lda_model,corpus,id2word,"mmds",10,"15t")

c:\users\w i n d o w s\pycharmprojects\pythonproject\venv\lib\site-packages\pyLDAvis\_prepare.py:246: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  default_term_info = default_term_info.sort_values(