In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("data hugginface.xlsx")

In [3]:
for col in data.columns:
    print(col)

tweet
sentiment
label
score

In [4]:
data.head()

,tweet,sentiment,label,score
0,RT @sukajajan_x: Baju kemeja motif untuk kulia...,neutral,1,0.947212
1,RT @LOKALVideo08: abang sales gue grepein di m...,neutral,1,0.985920
2,RT @hazelssie: ☁️totebag kiyowo☁️\n\n⭐️4.9 htt...,neutral,1,0.977968
3,@citrabellana Malam minggu ja yang kada mampu ...,neutral,1,0.961750
4,RT @cosxinus: Tas sling bag canvas buat coolye...,neutral,1,0.950132

In [5]:
data['label'].astype(int)

0        1
1        1
2        1
3        1
4        1
        ..
25185    1
25186    2
25187    2
25188    1
25189    1
Name: label, Length: 25190, dtype: int32

In [6]:
data.dtypes

tweet         object
sentiment     object
label          int64
score        float64
dtype: object

In [7]:
data.to_csv("dataset  hugginface.csv",sep=',',index=False)