In [30]:
import pandas as pd

In [32]:
data = pd.read_excel("dataset.xlsx",)
data

                                                   text  label
0                              pengen pasang dm ya guys      0
1              min kalo pasang gak ya takutnya berbulan      2
2      tolong rek bayarku larang ho bendino mbrebet cok      2
3                                    restart otaknya kk      2
4                              kalo putus nyambung wkwk      2
...                                                 ...    ...
2469  halooo mengisi paket data dana terpotong tp ak...      0
2470  sinyal telkomsel lemot sinyalnya dikumpulin lo...      2
2471  berembe kabar selama depan telkomsel lokasi ac...      1
2472  hai kak alfiyan maaf terkait akses internet la...      0
2473  prediksi peandingan bola bayern munchen vs uni...      0

[2474 rows x 2 columns]

In [33]:
data.to_csv("data1.csv",sep=",",index=False)

In [34]:
data.dtypes

text     object
label     int64
dtype: object

In [26]:
df4 = pd.read_csv("data.csv")
for col in df4.columns:
    print(col)

Unnamed: 0
text
label

In [27]:
df4.drop(['Unnamed: 0'],axis=1)

                                                   text  label
0                              pengen pasang dm ya guys      0
1              min kalo pasang gak ya takutnya berbulan      2
2      tolong rek bayarku larang ho bendino mbrebet cok      2
3                                    restart otaknya kk      2
4                              kalo putus nyambung wkwk      2
...                                                 ...    ...
2469  halooo mengisi paket data dana terpotong tp ak...      0
2470  sinyal telkomsel lemot sinyalnya dikumpulin lo...      2
2471  berembe kabar selama depan telkomsel lokasi ac...      1
2472  hai kak alfiyan maaf terkait akses internet la...      0
2473  prediksi peandingan bola bayern munchen vs uni...      0

[2474 rows x 2 columns]

In [29]:
df4.to_csv("test.csv",sep=",",index=False)